.LandingPage {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.LandingPage-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #252B55;
  color: white;
  padding: 10px 20px;
  position: relative; /* Ensure it stays at the top */
  z-index: 10; /* Ensure it appears above the body */
}

.LandingPage-logo {
  font-size: 24px;
  font-weight: bold;
  height: 50px; /* Adjust the height as needed */
  width: auto;
}

.SignIn-button {
  background: none; /* Remove background */
  border: none; /* Remove border */
  color: white; /* Default text color */
  font-size: 16px;
  cursor: pointer;
  margin-left: auto; /* Align to the right */
  padding: 10px 20px;
}

.SignIn-button:hover {
  background: none; /* Ensure no background on hover */
  color: transparent; /* Make the text transparent */
  background-clip: text; /* Standard property for compatibility */
  -webkit-background-clip: text; /* Clip the background to the text */
  background-image: linear-gradient(90deg, cyan, magenta, yellow, black); /* CMYK gradient */
}

.LandingPage-body {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Ensure the div takes up space */
  background-size: contain; /* Show the full image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-position: center top; /* Move the image upward */
  margin-top: -100px; /* Optional: Adjust margin to move the image further */
}

.LandingPage-footer {
  text-align: center;
  background-color: #252B55;
  color: white;
  padding: 10px;
}

.LoadingScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #252B55; /* Dark background for the loading screen */
}

.LoadingCircle {
  width: 50px;
  height: 50px;
  border: 5px solid transparent;
  border-top: 5px solid cyan;
  border-right: 5px solid magenta;
  border-bottom: 5px solid yellow;
  border-left: 5px solid black;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}