.Messages-page {
  background: #ffffff;
  min-height: 100%;
  padding: 10px;
  
}

.Messages-header {
  background: #d9d9d9;
  color: #252b55;
  font-size: 15px;
  font-weight: 800;
  padding: 10px 18px;
  border-radius: 8px;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: left;
}

.Messages-container {
  display: grid;
  background: #fff;
  border-radius: 12px;
  padding: 0;
  box-sizing: border-box;
  min-height: 100%;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.Messages-chats {
  width: 320px;
  background: #fff;
  border-radius: 8px 8px 0 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: 1px solid #252b55;
  position: relative;
  
}

.Messages-chats-title {
  background: #252b55;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  padding: 12px 20px;
  border-radius: 8px 8px 0 0;
  margin-bottom: 0;
  text-align: left;
}

.Messages-search {
  padding: 8px 10px;
  border-radius: 20px;
  border: 1px solid #d9d9d9;
  margin: 12px;
  font-size: 13px;
}

.Messages-chat-item {
  display: flex;
  align-items: center;
  background: #ffffff;
  border-radius: 12px;
  padding: 5px 10px;
  cursor: pointer;
  margin: 0px 12px;
  transition: background 0.2s, border 0.2s;
}

.Messages-chat-item.active {
  background: #d9d9d9;
  text-align: left;
}

.Messages-chat-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 8px;
  background-color: #252b55;
}

.Messages-chat-name {
  font-size: 15px;
  font-weight: 600;
  color: #252b55;
  padding: 5px 5px;
}

.Messages-chat-last {
  font-size: 10px;
  color: #252b55;
  text-align: left;
}

.Messages-chat-time {
  font-size: 8px;
  color: #252b55;
  margin-left: 8px;
  position: absolute;
  right: 25px;
  padding: 5px 5px;

}

.Messages-thread {
  flex: 1;
  background: #F5F6FF;
  border-radius: 12px;
  padding: 12px 20px;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.Messages-thread-header {
  display: flex;
  align-items: center;
  gap: 0px;
  font-size: 18px;
  font-weight: 700;
  color: #252b55;
  margin-bottom: 8px;
}

.Messages-thread-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  background: #252b55;
  margin-right: 8px;

}

.Messages-thread-name {
  font-size: 15px;
  font-weight: 700;
  color: #252b55;
  padding: 5px 5px;
}

.Messages-thread-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 18px;
  overflow-y: auto;
  margin-bottom: 12px;
}

.Messages-message {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  max-width: 60%;
}

.Messages-message.me {
  align-self: flex-end;
  background: #252b55;
  color: #fff;
  border-radius: 18px 18px 4px 18px;
  padding: 10px 18px;
  margin-right: 8px;
  text-align: right;
  font-size: 10px;
}

.Messages-message.other {
  align-self: flex-start;
  background: #d9d9d9;
  color: #252b55;
  border-radius: 18px 18px 18px 4px;
  padding: 10px 18px;
  margin-left: 8px;
  text-align: left;
  font-size: 10px;
}

.Messages-message-time {
  font-size: 11px;
  color: #888;
  margin: 5px ;
  text-align: right;
}

.Messages-message-text {
  font-size: 13px;
  word-break: break-word;
}

.Messages-thread-inputbar {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-top: 8px;
  border-top: 1px solid #d9d9d9;
}

.Messages-input {
  flex: 1;
  padding: 10px;
  border-radius: 18px;
  border: 1px solid #d9d9d9;
  font-size: 16px;
}

.Messages-send-btn {
  background: #252b55;
  color: #fff;
  border: none;
  border-radius: 18px;
  padding: 10px 24px;
  font-size: 16px;
  cursor: pointer;
}