.ProcessOrders-section-title,
.ProcessOrders-card-header,
.ProcessOrders-card-product,
.ProcessOrders-card-details,
.ProcessOrders-card-description,
.ProcessOrders-card-viewmore,
.ProcessOrders-card-statuses {
  text-align: left;
  justify-content: flex-start;
  align-items: flex-start;
}

.ProcessOrders-page {
  padding: 10px;
  background: #ffffff;
  min-height: 100%;
}

.ProcessOrders-section-title {
  background: #252b55;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  padding: 12px 18px;
  border-radius: 8px 8px 0 0;
  margin-bottom: 0;
}

.ProcessOrders-container {
  background: #fff;
  border: 1px solid #252b55;
  border-radius: 0px 0px 8px 8px;
  margin: 0px;
  padding: 24px 18px;
  box-sizing: border-box;
}

.ProcessOrders-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 24px;
}

.ProcessOrders-card,
.ProcessOrders-empty-card {
  background: #F5F6FF;
  border-radius: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 18px 16px;
  min-height: 180px;
  display: flex;
  flex-direction: column;
}

.ProcessOrders-card {
  background: #F5F6FF;
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  border-radius: 12px;
}

.ProcessOrders-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  color: #252b55;
  padding: 8px 0px;

}

.ProcessOrders-card-id{
  font-size: 10px;
  color: #989898;
  font-weight: 400;}

.ProcessOrders-card-product {
  font-size: 10px;
  color: #252b55;
  font-weight: 100;
  margin: 0px 0px 10px 0px;
}

.ProcessOrders-card-details {
  font-size: 10px;
  color: #252b55;
  font-weight: 100;
  margin: 5px 0px 10px 0px;
}

.ProcessOrders-card-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  padding: 4px 5px;
  border: none;
  background: #e5e5e5;
  color: #252b55;
  font-size: 12px;
}

.ProcessOrders-card-viewmore {
  background: #e5e5e5;
  color: #252b55;
  border: none;
  border-radius: 8px;
  font-size: 10px;
}

.ProcessOrders-card-statuses {
  display: flex;
  gap: 8px;
  margin: 10px 0px
}

.ProcessOrders-status-btn {
  background: #fff;
  color: #252b55;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  padding: 4px 10px;
  font-size: 10px;
  cursor: default;
}

.ProcessOrders-status-btn.active {
  background: #252b55;
  color: #fff;
  border: 1px solid #252b55;
}

.ProcessOrders-empty-card {
  background: #f6f7fc;
}