.ValidatePayment-page {
  background: #ffffff;
  min-height: 100%;
  padding: 10px;
}

.ValidatePayment-header {
  background: #d9d9d9;
  color: #252b55;
  font-size: 28px;
  font-weight: 700;
  padding: 16px 24px;
  border-radius: 12px;
  margin-bottom: 10px;
  text-align: left;
}

.ValidatePayment-section-title {
  background: #252b55;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  padding: 12px 18px;
  border-radius: 8px 8px 0 0;
  margin-bottom: 0;
  text-align: left;
}

.ValidatePayment-container {
  background: #fff;
  border: 1px solid #252b55;
  border-radius: 0px 0px 8px 8px;
  margin: 0px;
  padding: 24px 18px;
  box-sizing: border-box;
}

.ValidatePayment-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 24px;
}

.ValidatePayment-list {
  flex-direction: column;
  gap: 10px;
  display: flex;
  align-items: center;
}

.ValidatePayment-card {
  background: #f6f7fc;
  color: #252b55;
  border-radius: 12px;
  padding: 20px 15px;
  margin-bottom: 10px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: left;
  font-size: 15px;
  width: 100%;
  box-sizing: border-box;
}

.ValidatePayment-card.active {
  color: #fff;
  background: #252b55;
}

.ValidatePayment-card-id {
  float: right;
  font-size: 10px;
  font-weight: 400;;
}

.ValidatePayment-card-file {
  background: #d9d9d9;
  border-radius: 6px;
  padding: 6px 10px;
  margin-top: 15px;
  font-size: 10px;
  color: #252b55;
  display: flex;
  justify-content: space-between;
}

.ValidatePayment-card-method {
  margin-left: 18px;
  color: #252b55;
  font-weight: 600;
}

.ValidatePayment-preview {
  background: #f6f7fc;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  padding: 30px 20px;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.ValidatePayment-preview-title {
  font-size: 15px;
  font-weight: 800;
  color: #252b55;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.ValidatePayment-preview-img {
  width: 260px;
  border-radius: 8px;
  margin-bottom: 18px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.10);
}

.ValidatePayment-preview-actions {
  display: flex;
  gap: 20px;
  justify-content: center
}

.ValidatePayment-btn {
  padding: 10px 15px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  margin-top: 20px;

}

.ValidatePayment-btn.validate {
  background: #118C4F;
  color: #fff;
}

.ValidatePayment-btn.decline {
  background: #cf2c29;
  color: #fff;
}